%tr{ id: link.id, class: 'link_row' }
  %td= link.url
  %td= link_to link.short, link.short, target: :_blank, rel: 'noopener'
  %td= link_to 'Graph', link_path(link.id)
  %td= link_to 'Delete', link, method: :delete, remote: true, class: 'js_delete_link'